<strong>Hello Admin,</strong>
<p>New Message has been received...</p>
<strong>Details:</strong>
<ul>
  <li><strong>Name:</strong> <%= @data[:name] %></li>
  <li><strong>Email:</strong> <%= @data[:email] %></li>
  <li><strong>Subject:</strong> <%= @data[:subject] %></li>
  <li><strong>Message:</strong> <%= @data[:message] %></li>
</ul>