    <div id="page-content">
        <!-- Slider -->
        <div id="slider-home" class="carousel slide text-center" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#slider-home" data-slide-to="0" class="active"></li>
                <li data-target="#slider-home" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/assets/slider/homepage/2.jpg" alt="...">
                    <div class="carousel-caption">
                        <h1 class="slider-title">
                            We take care of your car
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod ut laoreet dolore magna. 
                        </p>
                        <a href="#" class="btn btn-important-lg">Learn More</a>
                    </div>
                </div><!-- /.item -->
                <div class="item">
                    <img src="/assets/slider/homepage/1.jpg" alt="...">
                    <div class="carousel-caption">
                        <h1 class="slider-title">
                            We take care of your car
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod ut laoreet dolore magna. 
                        </p>
                        <a href="#" class="btn btn-important-lg">Learn More</a>
                    </div>
                </div><!-- /.item -->
            </div><!-- /.carousel-inner -->
            <a href="#our-principles" class="btn btn-down"><i class="fa fa-angle-double-down"></i></a>
        </div><!-- /#slider-home -->
        <!-- End Slider -->

        <!-- Our principles -->
        <div id="our-principles" class="pad-t-40-responsive-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/assets/our-principles/our-principles-img.jpg" alt="..." class="img-responsive our-principles-img">
                    </div><!-- /.col-sm-6 -->
                    <div class="col-sm-6">
                        <h2>
                            <span>Our principles</span>
                            First : You Can Count on Our Principles
                        </h2>
                        <p>
                            Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                        </p>
                        <a href="#services" class="btn btn-important-xl">See Our Services</a>
                    </div><!-- /.col-sm-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /#our-principles -->
        <!-- End Our principles -->

        <!-- Our principles details -->
        <div id="our-principles-details" class="principles-details anchor">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 detail">
                        <img src="/assets/our-principles-details/icon1.png" alt="..." class="text-center">
                        <h3>
                            <a href="#">Efficiency & speed</a>
                        </h3>
                        <p>
                            Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                        </p>
                        <a href="#" class="btn btn-default-sm-sm">Read More</a>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4 detail">
                        <img src="/assets/our-principles-details/icon2.png" alt="..." class="text-center">
                        <h3>
                            <a href="#">High technicians</a>
                        </h3>
                        <p>
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                        </p>
                        <a href="#" class="btn btn-default-sm-sm">Read More</a>
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4 detail">
                        <img src="/assets/our-principles-details/icon3.png" alt="..." class="text-center">
                        <h3>
                            <a href="#">High technology tools</a>
                        </h3>
                        <p>
                            Mirum est notare quam littera gothica, quam nunc putamus parum claram decima.
                        </p>
                        <a href="#" class="btn btn-default-sm-sm">Read More</a>
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /#our-principles -->
        <!-- End Our principles details -->

        <!-- Services -->
        <div id="services" class="services">
            <div class="container">
                <div class="section-heading">
                    <h2>
                        Services of <span>DB-MEKK </span>
                        <small>We take care of your car</small>
                    </h2>
                </div><!-- /.section-heading -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="box">
                            <div class="box-img">
                                <a href="#">
                                    <img src="/assets/services/1.jpg" alt="..." class="img-responsive">
                                </a>
                                <div class="box-preview">
                                    <a data-toggle="modal" data-target="#myModal" class="zoom-wrapper">
                                        <i class="fa fa-eye learn-more"></i>
                                    </a>
                                </div>
                            </div><!-- /.box-img -->
                            <div class="box-body">
                                <h3>
                                    <a href="#">Engine testing - electric and mechanic</a>
                                </h3>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="box">
                            <div class="box-img">
                                <a href="#">
                                    <img src="/assets/services/2.jpg" alt="..." class="img-responsive">
                                </a>
                                <div class="box-preview">
                                        <a data-toggle="modal" data-target="#myModal-1" class="zoom-wrapper">
                                            <i class="fa fa-eye learn-more"></i>
                                        </a>
                                </div>
                            </div><!-- /.box-img -->
                            <div class="box-body">
                                <h3>
                                    <a href="#">Schedule - oil air and other changes</a>
                                </h3>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="box">
                            <div class="box-img">
                                <a href="#">
                                    <img src="/assets/services/3.jpg" alt="..." class="img-responsive">
                                </a>
                                <div class="box-preview">
                                    <a data-toggle="modal" data-target="#myModal-2" class="zoom-wrapper">
                                        <i class="fa fa-eye learn-more"></i>
                                    </a>
                                </div>
                            </div><!-- /.box-img -->
                            <div class="box-body">
                                <h3>
                                    <a href="#">Tires and wheels - balancing - economic</a>
                                </h3>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="box box-1">
                            <div class="box-img">
                                <a href="#">
                                    <img src="/assets/services/4.jpg" alt="..." class="img-responsive">
                                </a>
                                <div class="box-preview">
                                    <a data-toggle="modal" data-target="#myModal-3" class="zoom-wrapper">
                                        <i class="fa fa-eye learn-more"></i>
                                    </a>
                                </div>
                            </div><!-- /.box-img -->
                            <div class="box-body">
                                <h3>
                                    <a href="#">Air conditionning - heating and cooling </a>
                                </h3>
                            </div><!-- /.box-body -->
                        </div><!-- /.box box-1 -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="box box-1">
                            <div class="box-img">
                                <a href="#">
                                    <img src="/assets/services/5.jpg" alt="..." class="img-responsive">
                                </a>
                                <div class="box-preview">
                                    <a data-toggle="modal" data-target="#myModal-4" class="zoom-wrapper">
                                        <i class="fa fa-eye learn-more"></i>
                                    </a>
                                </div>
                            </div><!-- /.box-img -->
                            <div class="box-body">
                                <h3>
                                    <a href="#">Carwash - with the double digit percent </a>
                                </h3>
                            </div><!-- /.box-body -->
                        </div><!-- /.box box-1 -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="box box-1">
                            <div class="box-img">
                                <a href="#">
                                    <img src="/assets/services/6.jpg" alt="..." class="img-responsive">
                                </a>
                                <div class="box-preview">
                                    <a data-toggle="modal" data-target="#myModal-5" class="zoom-wrapper">
                                        <i class="fa fa-eye learn-more"></i>
                                    </a>
                                </div>
                            </div><!-- /.box-img -->
                            <div class="box-body">
                                <h3>
                                    <a href="#">Brakes and repair - on the make of car</a>
                                </h3>
                            </div><!-- /.box-body -->
                        </div><!-- /.box box-1 -->
                    </div><!-- /.col-sm-4 -->
                    <div class="text-center">
                        <a href="/schedule" class="btn btn-important-xl">Book Now</a>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /#services -->
        <!-- End Services -->

        <!-- Call to action -->
        <div class="call-to-action call-to-action-with-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2>If You Need Any <span>Technical Solution</span> ... We Are Available For You</h2>
                        <p>
                            We Manage Every Kind of Business, Join now !
                        </p>
                    </div><!-- /.col-ms-9 -->
                    <div class="col-md-3">
                        <a href="#contact-us" class="btn btn-important-lg">Make an appointment</a>
                    </div><!-- /.col-ms-3 -->
                </div><!-- /.row -->
            </div><!-- /.conatiner -->
        </div><!-- /.call-to-action-with-img -->
        <!-- End Call to action -->

        <!-- Team -->
        <div id="team" class="team hidden">
            <div class="container">
                <div class="section-heading">
                    <h2>
                        Team of <span>DB-MEKK </span>
                        <small>We take care of your car</small>
                    </h2>
                </div><!-- /.section-heading -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="box box-2">
                            <div class="box-img">
                                <a href="#">
                                    <img src="/assets/team/1.jpg" alt="..." class="img-responsive">
                                </a>
                                <div class="box-preview">
                                    <a href="#" class="zoom-wrapper">
                                        <i class="fa fa-search learn-more"></i>
                                    </a>
                                </div>
                            </div><!-- /.box-img -->
                            <div class="box-body">
                                <h3>
                                    <span>Engineer</span>
                                    Justin Doe
                                </h3>
                                <ul class="social-media-3 list-inline">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div><!-- /.box-body -->
                        </div><!-- /.box box-2 -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="box box-2">
                            <div class="box-img">
                                <a href="#">
                                    <img src="/assets/team/2.jpg" alt="..." class="img-responsive">
                                </a>
                                <div class="box-preview">
                                    <a href="#" class="zoom-wrapper">
                                        <i class="fa fa-search learn-more"></i>
                                    </a>
                                </div>
                            </div><!-- /.box-img -->
                            <div class="box-body">
                                <h3>
                                    <span>Engineer</span>
                                    Justin Doe
                                </h3>
                                <ul class="social-media-3 list-inline">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div><!-- /.box-body -->
                        </div><!-- /.box box-2 -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="box box-2">
                            <div class="box-img">
                                <a href="#">
                                    <img src="/assets/team/3.jpg" alt="..." class="img-responsive">
                                </a>
                                <div class="box-preview">
                                    <a href="#" class="zoom-wrapper">
                                        <i class="fa fa-search learn-more"></i>
                                    </a>
                                </div>
                            </div><!-- /.box-img -->
                            <div class="box-body">
                                <h3>
                                    <span>Engineer</span>
                                    Justin Doe
                                </h3>
                                <ul class="social-media-3 list-inline">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div><!-- /.box-body -->
                        </div><!-- /.box box-2 -->
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /#team -->
        <!-- End Team -->

        <!-- Testimonials -->
        <div id="testimonials" class="testimonials hidden">
            <div class="container">
                <div class="testimonials-carousel owl-carousel text-center">
                    <div class="item testimonial">
                        <div class="testimonials-imgs">
                            <div class="prev-testimonial-img">
                                <img src="/assets/testimonials/2.jpg" alt="..." class="img-circle">
                            </div>
                            <div class="current-testimonial-img">
                                <img src="/assets/testimonials/1.jpg" alt="..." class="img-circle">
                                <span class="quote-icon">
                                    <i class="fa fa-quote-left"></i>
                                </span>
                            </div>
                            <div class="next-testimonial-img">
                                <img src="/assets/testimonials/3.jpg" alt="..." class="img-circle">
                            </div>
                        </div><!-- /.testimonials-imgs -->
                        <div class="testimonial-quote">
                            <p>
                                DB-MEKK odo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum nunc putamus parum.
                            </p>
                        </div>
                        <div class="testimonial-name">
                            Janson Doe
                        </div>
                        <div class="testimonial-profession">
                            Director HSM team Ltd.
                        </div>
                    </div><!-- /.item .testimonial -->
                    <div class="item testimonial">
                        <div class="testimonials-imgs">
                            <div class="prev-testimonial-img">
                                <img src="/assets/testimonials/2.jpg" alt="..." class="img-circle">
                            </div>
                            <div class="current-testimonial-img">
                                <img src="/assets/testimonials/1.jpg" alt="..." class="img-circle">
                                <span class="quote-icon">
                                    <i class="fa fa-quote-left"></i>
                                </span>
                            </div>
                            <div class="next-testimonial-img">
                                <img src="/assets/testimonials/3.jpg" alt="..." class="img-circle">
                            </div>
                        </div><!-- /.testimonials-imgs -->
                        <div class="testimonial-quote">
                            <p>
                                DB-MEKK odo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum nunc putamus parum.
                            </p>
                        </div>
                        <div class="testimonial-name">
                            Janson Doe
                        </div>
                        <div class="testimonial-profession">
                            Director HSM team Ltd.
                        </div>
                    </div><!-- /.item .testimonial -->
                    <div class="item testimonial">
                        <div class="testimonials-imgs">
                            <div class="prev-testimonial-img">
                                <img src="/assets/testimonials/2.jpg" alt="..." class="img-circle">
                            </div>
                            <div class="current-testimonial-img">
                                <img src="/assets/testimonials/1.jpg" alt="..." class="img-circle">
                                <span class="quote-icon">
                                    <i class="fa fa-quote-left"></i>
                                </span>
                            </div>
                            <div class="next-testimonial-img">
                                <img src="/assets/testimonials/3.jpg" alt="..." class="img-circle">
                            </div>
                        </div><!-- /.testimonials-imgs -->
                        <div class="testimonial-quote">
                            <p>
                                DB-MEKK odo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum nunc putamus parum.
                            </p>
                        </div>
                        <div class="testimonial-name">
                            Janson Doe
                        </div>
                        <div class="testimonial-profession">
                            Director HSM team Ltd.
                        </div>
                    </div><!-- /.item .testimonial -->
                </div><!-- /.testimonials-carousel -->
            </div><!-- /.container -->
        </div><!-- /#testimonials .testimonials -->
        <!-- End Testimonials -->

        <!-- Map -->
        <div class="contact-map" id="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.91163207516!2d2.3470599!3d48.85885894999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis%2C+France!5e0!3m2!1sen!2s!4v1518693381892" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            <!-- <div id="contact-gmap" class="contact-gmap" data-latitude="48.856614" data-longitude="2.352222" data-zoom="11" data-icon="images/map/map-marker.png" data-map-title="Contact map"></div> -->
        </div>
        <!-- End Map -->

        <!-- Contact Us -->
        <div id="contact-us" class="contact-us">
            <div class="contact-lef-bg-wrapper">
                <div class="container-fluid pad-l-r-0">
                    <div class="col-sm-6 pad-l-r-0">
                        <div class="contact-left-bg"></div>
                    </div>
                </div>
            </div><!-- /.contact-lef-bg-wrapper -->
            <div class="contact--wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="contact-infos">
                                <div class="list-unstyled">
                                    <div class="contact-info">
                                        <div class="contact-info-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="contact-info-body">
                                            <p>
                                                <span>BLUECAR SAS</span>
                                                23 4 Henri Troyayt, orleans, centre 45100
                                            </p>
                                        </div>
                                    </div><!-- /.contact-info -->
                                    <div class="contact-info">
                                        <div class="contact-info-icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="contact-info-body">
                                            <p>
                                                <span>Email</span>
                                                <a href="mailto:hsm.team2017@gmail.com">hsm.team2017@gmail.com</a>
                                            </p>
                                        </div>
                                    </div><!-- /.contact-info -->
                                    <div class="contact-info">
                                        <div class="contact-info-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="contact-info-body">
                                            <p>
                                                <span>Phone number</span>
                                                <a href="tel:003345457845">+33 45 45 78 45</a>
                                            </p>
                                        </div>
                                    </div><!-- /.contact-info -->
                                    <div class="contact-info">
                                        <!-- <ul class="social-media-3 contact-info-social list-inline">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul> -->
                                    </div><!-- /.contact-info -->
                                </div><!-- /.list-unstyled -->
                            </div><!-- /.contact-infoq -->
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="row">
                                <form id="contact-form" method="post" class="rounded-form" action="#">
                                    <div class="col-md-8">
                                        <input id="name" type="text" name="name" placeholder="Your name" class="form-control">
                                        <input id="email" type="email" name="email" placeholder="Email Address" class="form-control">
                                        <input id="subject" type="text" name="subject" placeholder="Car Plate no." class="form-control">
                                        
                                    </div>
                                    <div class="col-md-12">
                                        <textarea id="message" name="message" placeholder="Your message" class="form-control"></textarea>
                                        <button type="submit" class="btn btn-important-xl">Submit</button>
                                    </div>
                                </form><!-- /#contact-form -->
                            </div><!-- /.row -->
                        </div><!-- /.col-sm-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.contact-wrapper -->
        </div><!-- /#contact-us .contact-us -->
    <!-- End Contact Us -->
    </div><!-- #page-content -->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-heading">Engine testing - electric and mechanic</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                            <img src="/assets/services/1.jpg" alt="..." class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>Lorem ipsum dolor sitr adipiscing elit.</li>
                            <li>Donec sit amet ante at in sed risus.</li>
                            <li> Maecenas eleifend varius.</li>
                            <li>Aliquam sit amet aliquet at eu risus.</li>
                            <li> Aliquam commodo sapien cursus accumsan.</li>
                            <li> Suspendisse congue leo  arcu ornare.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal-1 -->
<div class="modal fade" id="myModal-1" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-heading">Schedule - oil air and other changes</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                            <img src="/assets/services/2.jpg" alt="..." class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>Lorem ipsum dolor sitr adipiscing elit.</li>
                            <li>Donec sit amet ante at in sed risus.</li>
                            <li> Maecenas eleifend varius.</li>
                            <li>Aliquam sit amet aliquet at eu risus.</li>
                            <li> Aliquam commodo sapien cursus accumsan.</li>
                            <li> Suspendisse congue leo  arcu ornare.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal-2 -->
<div class="modal fade" id="myModal-2" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-heading">Tires and wheels - balancing - economic</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                            <img src="/assets/services/3.jpg" alt="..." class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>Lorem ipsum dolor sitr adipiscing elit.</li>
                            <li>Donec sit amet ante at in sed risus.</li>
                            <li> Maecenas eleifend varius.</li>
                            <li>Aliquam sit amet aliquet at eu risus.</li>
                            <li> Aliquam commodo sapien cursus accumsan.</li>
                            <li> Suspendisse congue leo  arcu ornare.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal-3" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-heading">Air conditionning - heating and cooling</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                            <img src="/assets/services/4.jpg" alt="..." class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>Lorem ipsum dolor sitr adipiscing elit.</li>
                            <li>Donec sit amet ante at in sed risus.</li>
                            <li> Maecenas eleifend varius.</li>
                            <li>Aliquam sit amet aliquet at eu risus.</li>
                            <li> Aliquam commodo sapien cursus accumsan.</li>
                            <li> Suspendisse congue leo  arcu ornare.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal-4" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-heading">Carwash - with the double digit percent</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                            <img src="/assets/services/5.jpg" alt="..." class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>Lorem ipsum dolor sitr adipiscing elit.</li>
                            <li>Donec sit amet ante at in sed risus.</li>
                            <li> Maecenas eleifend varius.</li>
                            <li>Aliquam sit amet aliquet at eu risus.</li>
                            <li> Aliquam commodo sapien cursus accumsan.</li>
                            <li> Suspendisse congue leo  arcu ornare.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal-5" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-heading">Brakes and repair - on the make of car</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                            <img src="/assets/services/6.jpg" alt="..." class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>Lorem ipsum dolor sitr adipiscing elit.</li>
                            <li>Donec sit amet ante at in sed risus.</li>
                            <li> Maecenas eleifend varius.</li>
                            <li>Aliquam sit amet aliquet at eu risus.</li>
                            <li> Aliquam commodo sapien cursus accumsan.</li>
                            <li> Suspendisse congue leo  arcu ornare.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>