<a id="myBtn" href="/schedule" class="btn btn-important-xl">Book Now</a>
<div id="page-content">
    <!-- Slider -->
    <div id="slider-home" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <!-- <li data-target="#slider-home" data-slide-to="0" class="active"></li> -->
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/assets/slider/homepage/2.jpg" alt="...">
                <div class="carousel-caption">
                    <h1 class="slider-title">
                        We take care of your car
                    </h1>
                </div>
            </div><!-- /.item -->
            <!--
            <div class="item">
                <img src="/assets/slider/homepage/1.jpg" alt="...">
                <div class="carousel-caption">
                    <h1 class="slider-title">
                        We take care of your car
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod ut laoreet dolore magna. 
                    </p>
                </div>
            </div>-->
        </div><!-- /.carousel-inner -->
        <a href="#our-principles" class="btn btn-down"><i class="fa fa-angle-double-down"></i></a>
    </div><!-- /#slider-home -->
    <!-- End Slider -->

    <!-- Our principles -->
    <div id="our-principles" class="pad-t-40-responsive-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="/assets/our-principles/our-principles-img.jpg" alt="..." class="img-responsive our-principles-img">
                </div><!-- /.col-sm-6 -->
                <div class="col-sm-6">
                    <h2>
                        <span>Kampanje</span>
                    </h2>
                    <p>
                    </p>
                    <!--<a href="#services" class="btn btn-important-xl">See Our Services</a> -->
                </div><!-- /.col-sm-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#our-principles -->
    <!-- End Our principles -->

    <!-- Our principles details -->
    <div id="our-principles-details" class="principles-details anchor">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 detail">
                    <img src="/assets/our-principles-details/icon1.png" alt="..." class="text-center">
                    <h3>
                        <a href="#">Hjulstillingskontroll</a>
                    </h3>
                    <div id="detail-1">
                        <p>
                            Blir dekkene på bilen din fort slitt på innsiden  eller trekker bilen til siden, har du sannsynligvis behov for hjulstillingskontroll.
                        </p>
                        <p>
                            Vi undersøker om vinkelen på hjulene er som de skal og utfører eventuelle korrigeringer.
                        </p>
                        <p>
                            Hjulstillingskontroll er en viktig service på bilen. Skjev hjulstilling kan skyldes feil eller slitasje.
                        </p>
                        <ul>
                            <li>- Hvis du ser en tydelig skjev slitasje på innsiden av dekkene bør du utføre en hjulstillingskontroll.</li>
                            <li>- Hvis du derimot har slitasje på både ytter- og innerkant av dekkene, er det sannsynligvis feil lufttrykk.</li>
                            <li>- Hvis bilen trekker til en side, bør du først sjekke lufttrykket. Dersom bilen fortsatt trekker til siden bør du ta en hjulstillingskontroll.</li>
                            <li>- Hvis rattet ikke står i midtstilling ved kjøring rett fram bør du ta en hjulstillingskontroll.</li>
                        </ul>
                    </div>
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-4 detail">
                    <img src="/assets/our-principles-details/icon2.png" alt="..." class="text-center">
                    <h3>
                        <a href="#">EU Kontroll</a>
                    </h3>
                    <div id="detail-2">
                        <p>
                            Din Bilmekaniker AS utfører EU-kontroll etter de bestemmelser som myndighetene har fastlagt for  biler med totalvekt under 3500kg 
                        </p>
                        <p>Pris: 590/-</p>
                        <p>Husk å ta med vognkortet i bilen</p>
                        <p>Har du elbil med løs ladekabel, husk å ta med ladekabelen da også denne skal kontrolleres.</p>
                        <h3>Slik unngår du unødvendige mangler på EU-kontrollen!</h3>
                        <ul>
                            <li>- Se at lyspærer virker og at lyktene ikke har vesentlige skader</li>
                            <li>- Vindusviskerne skal pusse rent</li>
                            <li>- Sidespeilene skal ikke være knust eller sprukket</li>
                            <li>- Påbudt varseltrekant i bilen</li>
                            <li>- Alle sikkerhetsbeltene skal fungere</li>
                            <li>- Sjekk at alle hjulboltene er på plass</li>
                            <li>- Refleksvest skal ligge i bilen</li>
                        </ul>
                    </div>
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-4 detail">
                    <img src="/assets/our-principles-details/icon3.png" alt="..." class="text-center">
                    <h3>
                        <a href="#">Service</a>
                    </h3>
                    <div id="detail-3">
                        <p>Vi utfører servicese på alle personbiler.</p>
                        <p>Vi sjekker følgende punkter</p>
                        <ul>
                            <li>- Bremser</li>
                            <li>- Hjuloppheng</li>
                            <li>- Drivverk (Begrenset til drivaksler)</li>
                            <li>- Eksosanlegg</li>
                            <li>- Lys</li>
                            <li>- Kartlegging av mekaniske feil</li>
                        </ul>
                        <p>Liten Service:</p>
                        <ul>
                            <li>- oljeskift</li>
                            <li>- oljefilter</li>
                            <li>- pollenfilter</li>
                        </ul>
                        <h3 style="text-align:left;">Pris fra kr. 2490/-</h3>
                        <p>Stor Service:</p>
                        <ul>
                            <li>- olje</li>
                            <li>- oljefilter</li>
                            <li>- drivstoff filter</li>
                            <li>- Pollenfilter</li>                            
                            <li>- luftfilter</li>                            
                            <li>- bremsevæske</li>                            
                        </ul>
                        <h3 style="text-align:left;">Pris fra kr. 4990/-</h3>
                    </div>
                </div><!-- /.col-sm-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#our-principles -->
    <!-- End Our principles details -->

    <!-- Services -->
    <div id="services" class="services">
        <div class="container">
            <div class="section-heading">
                <h2>
                    <span>dbMekk </span>Services
                    <small>Vi utfører servicese på alle personbiler.</small>
                </h2>
            </div><!-- /.section-heading -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="box">
                        <div class="box-img">
                            <a href="#">
                                <img src="/assets/services/1.jpg" alt="..." class="img-responsive">
                            </a>
                            <div class="box-preview">
                                <a data-toggle="modal" data-target="#myModal" class="zoom-wrapper">
                                    <i class="fa fa-eye learn-more"></i>
                                </a>
                            </div>
                        </div><!-- /.box-img -->
                        <div class="box-body">
                            <h3>
                                <a href="#">Diagnose</a>
                            </h3>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-4">
                    <div class="box">
                        <div class="box-img">
                            <a href="#">
                                <img src="/assets/services/2.jpg" alt="..." class="img-responsive">
                            </a>
                            <div class="box-preview">
                                    <a data-toggle="modal" data-target="#myModal-1" class="zoom-wrapper">
                                        <i class="fa fa-eye learn-more"></i>
                                    </a>
                            </div>
                        </div><!-- /.box-img -->
                        <div class="box-body">
                            <h3>
                                <a href="#">Motor og Drivverk</a>
                            </h3>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-4">
                    <div class="box">
                        <div class="box-img">
                            <a href="#">
                                <img src="/assets/services/3.jpg" alt="..." class="img-responsive">
                            </a>
                            <div class="box-preview">
                                <a data-toggle="modal" data-target="#myModal-2" class="zoom-wrapper">
                                    <i class="fa fa-eye learn-more"></i>
                                </a>
                            </div>
                        </div><!-- /.box-img -->
                        <div class="box-body">
                            <h3>
                                <a href="#">AC Service</a>
                            </h3>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col-sm-4 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="box box-1">
                        <div class="box-img">
                            <a href="#">
                                <img src="/assets/services/5.jpg" alt="..." class="img-responsive">
                            </a>
                            <div class="box-preview">
                                <a data-toggle="modal" data-target="#myModal-3" class="zoom-wrapper">
                                    <i class="fa fa-eye learn-more"></i>
                                </a>
                            </div>
                        </div><!-- /.box-img -->
                        <div class="box-body">
                            <h3>
                                <a href="#">Dekk </a>
                            </h3>
                        </div><!-- /.box-body -->
                    </div><!-- /.box box-1 -->
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-4">
                    <div class="box box-1">
                        <div class="box-img">
                            <a href="#">
                                <img src="/assets/services/4.jpg" alt="..." class="img-responsive">
                            </a>
                            <div class="box-preview">
                                <a data-toggle="modal" data-target="#myModal-4" class="zoom-wrapper">
                                    <i class="fa fa-eye learn-more"></i>
                                </a>
                            </div>
                        </div><!-- /.box-img -->
                        <div class="box-body">
                            <h3>
                                <a href="#">Lys </a>
                            </h3>
                        </div><!-- /.box-body -->
                    </div><!-- /.box box-1 -->
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-4">
                    <div class="box box-1">
                        <div class="box-img">
                            <a href="#">
                                <img src="/assets/services/6.jpg" alt="..." class="img-responsive">
                            </a>
                            <div class="box-preview">
                                <a data-toggle="modal" data-target="#myModal-5" class="zoom-wrapper">
                                    <i class="fa fa-eye learn-more"></i>
                                </a>
                            </div>
                        </div><!-- /.box-img -->
                        <div class="box-body">
                            <h3>
                                <a href="#">Bremser</a>
                            </h3>
                        </div><!-- /.box-body -->
                    </div><!-- /.box box-1 -->
                </div><!-- /.col-sm-4 -->
                <div class="text-center">
                    <a href="/schedule" class="btn btn-important-xl">Book Now</a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#services -->
    <!-- End Services -->

    <!-- Call to action -->
    <div class="call-to-action call-to-action-with-img">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2>If You Need Any <span>Technical Solution</span> ... We Are Available For You</h2>
                    <p>
                        We Manage Every Kind of Business, Join now !
                    </p>
                </div><!-- /.col-ms-9 -->
                <div class="col-md-3">
                    <a href="#contact-us" class="btn btn-important-lg">Make an appointment</a>
                </div><!-- /.col-ms-3 -->
            </div><!-- /.row -->
        </div><!-- /.conatiner -->
    </div><!-- /.call-to-action-with-img -->
    <!-- End Call to action -->

    <!-- Team -->
    <div id="team" class="team hidden">
        <div class="container">
            <div class="section-heading">
                <h2>
                    Team of <span>DB-MEKK </span>
                    <small>We take care of your car</small>
                </h2>
            </div><!-- /.section-heading -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="box box-2">
                        <div class="box-img">
                            <a href="#">
                                <img src="/assets/team/1.jpg" alt="..." class="img-responsive">
                            </a>
                            <div class="box-preview">
                                <a href="#" class="zoom-wrapper">
                                    <i class="fa fa-search learn-more"></i>
                                </a>
                            </div>
                        </div><!-- /.box-img -->
                        <div class="box-body">
                            <h3>
                                <span>Engineer</span>
                                Justin Doe
                            </h3>
                            <ul class="social-media-3 list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!-- /.box-body -->
                    </div><!-- /.box box-2 -->
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-4">
                    <div class="box box-2">
                        <div class="box-img">
                            <a href="#">
                                <img src="/assets/team/2.jpg" alt="..." class="img-responsive">
                            </a>
                            <div class="box-preview">
                                <a href="#" class="zoom-wrapper">
                                    <i class="fa fa-search learn-more"></i>
                                </a>
                            </div>
                        </div><!-- /.box-img -->
                        <div class="box-body">
                            <h3>
                                <span>Engineer</span>
                                Justin Doe
                            </h3>
                            <ul class="social-media-3 list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!-- /.box-body -->
                    </div><!-- /.box box-2 -->
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-4">
                    <div class="box box-2">
                        <div class="box-img">
                            <a href="#">
                                <img src="/assets/team/3.jpg" alt="..." class="img-responsive">
                            </a>
                            <div class="box-preview">
                                <a href="#" class="zoom-wrapper">
                                    <i class="fa fa-search learn-more"></i>
                                </a>
                            </div>
                        </div><!-- /.box-img -->
                        <div class="box-body">
                            <h3>
                                <span>Engineer</span>
                                Justin Doe
                            </h3>
                            <ul class="social-media-3 list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!-- /.box-body -->
                    </div><!-- /.box box-2 -->
                </div><!-- /.col-sm-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#team -->
    <!-- End Team -->

    <!-- Testimonials -->
    <div id="testimonials" class="testimonials hidden">
        <div class="container">
            <div class="testimonials-carousel owl-carousel text-center">
                <div class="item testimonial">
                    <div class="testimonials-imgs">
                        <div class="prev-testimonial-img">
                            <img src="/assets/testimonials/2.jpg" alt="..." class="img-circle">
                        </div>
                        <div class="current-testimonial-img">
                            <img src="/assets/testimonials/1.jpg" alt="..." class="img-circle">
                            <span class="quote-icon">
                                <i class="fa fa-quote-left"></i>
                            </span>
                        </div>
                        <div class="next-testimonial-img">
                            <img src="/assets/testimonials/3.jpg" alt="..." class="img-circle">
                        </div>
                    </div><!-- /.testimonials-imgs -->
                    <div class="testimonial-quote">
                        <p>
                            DB-MEKK odo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum nunc putamus parum.
                        </p>
                    </div>
                    <div class="testimonial-name">
                        Janson Doe
                    </div>
                    <div class="testimonial-profession">
                        Director HSM team Ltd.
                    </div>
                </div><!-- /.item .testimonial -->
                <div class="item testimonial">
                    <div class="testimonials-imgs">
                        <div class="prev-testimonial-img">
                            <img src="/assets/testimonials/2.jpg" alt="..." class="img-circle">
                        </div>
                        <div class="current-testimonial-img">
                            <img src="/assets/testimonials/1.jpg" alt="..." class="img-circle">
                            <span class="quote-icon">
                                <i class="fa fa-quote-left"></i>
                            </span>
                        </div>
                        <div class="next-testimonial-img">
                            <img src="/assets/testimonials/3.jpg" alt="..." class="img-circle">
                        </div>
                    </div><!-- /.testimonials-imgs -->
                    <div class="testimonial-quote">
                        <p>
                            DB-MEKK odo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum nunc putamus parum.
                        </p>
                    </div>
                    <div class="testimonial-name">
                        Janson Doe
                    </div>
                    <div class="testimonial-profession">
                        Director HSM team Ltd.
                    </div>
                </div><!-- /.item .testimonial -->
                <div class="item testimonial">
                    <div class="testimonials-imgs">
                        <div class="prev-testimonial-img">
                            <img src="/assets/testimonials/2.jpg" alt="..." class="img-circle">
                        </div>
                        <div class="current-testimonial-img">
                            <img src="/assets/testimonials/1.jpg" alt="..." class="img-circle">
                            <span class="quote-icon">
                                <i class="fa fa-quote-left"></i>
                            </span>
                        </div>
                        <div class="next-testimonial-img">
                            <img src="/assets/testimonials/3.jpg" alt="..." class="img-circle">
                        </div>
                    </div><!-- /.testimonials-imgs -->
                    <div class="testimonial-quote">
                        <p>
                            DB-MEKK odo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum nunc putamus parum.
                        </p>
                    </div>
                    <div class="testimonial-name">
                        Janson Doe
                    </div>
                    <div class="testimonial-profession">
                        Director HSM team Ltd.
                    </div>
                </div><!-- /.item .testimonial -->
            </div><!-- /.testimonials-carousel -->
        </div><!-- /.container -->
    </div><!-- /#testimonials .testimonials -->
    <!-- End Testimonials -->

    <!-- Map -->
    <div class="contact-map" id="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.2745908768968!2d10.823545251779484!3d59.9109900712017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416fa6ad236127%3A0x18c425ffd272b5af!2sFyrstikkbakken+7%2C+0667+Oslo%2C+Norway!5e0!3m2!1sen!2s!4v1523279782095" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <!-- <div id="contact-gmap" class="contact-gmap" data-latitude="48.856614" data-longitude="2.352222" data-zoom="11" data-icon="images/map/map-marker.png" data-map-title="Contact map"></div> -->
    </div>
    <!-- End Map -->

    <!-- Contact Us -->
    <div id="contact-us" class="contact-us">
        <div class="contact-lef-bg-wrapper">
            <div class="container-fluid pad-l-r-0">
                <div class="col-sm-6 pad-l-r-0">
                    <div class="contact-left-bg"></div>
                </div>
            </div>
        </div><!-- /.contact-lef-bg-wrapper -->
        <div class="contact--wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contact-infos">
                            <div class="list-unstyled">
                                <div class="contact-info">
                                    <div class="contact-info-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="contact-info-body">
                                        <p>
                                            <span>dbMEKK</span>
                                            Fyrstikkbakken 7, 0667 Oslo
                                        </p>
                                    </div>
                                </div><!-- /.contact-info -->
                                <div class="contact-info">
                                    <div class="contact-info-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="contact-info-body">
                                        <p>
                                            <span>e-post</span>
                                            <a href="mailto:post@dbmekk.no">post@dbmekk.no</a>
                                        </p>
                                    </div>
                                </div><!-- /.contact-info -->
                                <div class="contact-info">
                                    <div class="contact-info-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="contact-info-body">
                                        <p>
                                            <span>Tlf</span>
                                            <a href="tel:94090404">94 09 04 04</a>
                                        </p>
                                    </div>
                                </div><!-- /.contact-info -->
                                <div class="contact-info">
                                    <!-- <ul class="social-media-3 contact-info-social list-inline">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul> -->
                                </div><!-- /.contact-info -->
                            </div><!-- /.list-unstyled -->
                        </div><!-- /.contact-infoq -->
                    </div><!-- /.col-sm-6 -->
                    <div class="col-sm-6">
                        <div class="row">
                            <%= form_tag(contact_path, method: "post", class: "rounded-form", id: "contact-form") do %>  
                                <div class="col-md-8">
                                    <input id="name" type="text" name="name" placeholder="Your name" class="form-control" required="required">
                                    <input id="email" type="email" name="email" placeholder="Email Address" class="form-control" required="required">
                                    <input id="subject" type="text" name="subject" placeholder="Car Plate no." class="form-control" required="required">
                                    
                                </div>
                                <div class="col-md-12">
                                    <textarea id="message" name="message" placeholder="Your message" class="form-control" required="required"></textarea>
                                    <button type="submit" class="btn btn-important-xl">Submit</button>
                                </div>
                            <%end %>
                        </div><!-- /.row -->
                    </div><!-- /.col-sm-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.contact-wrapper -->
    </div><!-- /#contact-us .contact-us -->
<!-- End Contact Us -->
</div><!-- #page-content -->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-heading">Diagnose</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/assets/services/1.jpg" alt="..." class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <p>Ved en diagnose tar vi en</p>
                        <p>gjennomgang av det elektroniske i bilen din.</p>
                        <p>Vi vil da få opp eventuelle feilkoder bilen din har.</p>                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal-1 -->
<div class="modal fade" id="myModal-1" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-heading">Motor og Drivverk</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                            <img src="/assets/services/2.jpg" alt="..." class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <p>VI utfører alt av repprasjon på motor og drivverk som for eksempel:</p>
                        <ul>
                            <li>Registerreim sett</li>
                            <li>Vannpumpe</li>
                            <li>Viftereim</li>
                            <li>Multireim</li>
                            <li>Clutch</li>
                            <li>Girolje skift</li>
                        </ul>
                        <p>Vi kontrollerer motoren for oljelekkasje og kjølevannslekkasje. Vi ser også etter lekkasje fra drivstoffsystemet.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal-2 -->
<div class="modal fade" id="myModal-2" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-heading">AC Service</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                            <img src="/assets/services/3.jpg" alt="..." class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <p>AC-service sørger for at ditt anlegg fungerer som det skal.</p>
                        <p>I vår fastpris på kr 1499,- får du ny AC gass, tetthetskontroll og funksjonstest av anlegget.</p>
                        <p>Skulle det bli avdekket feil eller mangler reparerer vi dette til avtalt pris.</p>
                        <p>Vi anbefaler deg å utføre AC-service hvert andre år.</p>
                        <p>Air Condition/Klimaanlegg bør også renses.</p>
                        <p>Klimaanleggets kanaler utsettes for mye vanndamp, og det kan derfor danne seg bakterier og skadelige soppsporer. Dette kan fremkalle allergiplager og skape ubehagelig lukt i kupeen.</p>
                        <p>For å hindre dette anbefaler vi kupérens Kùperens og bytte av kupéfilter hver 15 000 km eller en gang i året.</p>
                        <p>Pris kupérens kuperens: kr 490/-  Skift av kupéfilter  kommer i tillegg.</p>                       
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal-3" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-heading">Dekk</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/assets/services/5.jpg" alt="..." class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <p>Vi bytter, legger om, avbalanserer og reparerer dekk.</p>
                        <p>For kjøp av dekk, send oss forespørsel.</p>
                        <h3>Kostnad for montering</h3>
                        <p>Dekkskift kr. 350/-</p>
                        <h3>Fra 13 til 17 tommer</h3>
                        <p>Dekkskift + balansering kr. 650/-</p>
                        <p>Dekk omlegging + balansering kr. 950/-</p>
                        <h3>Fra 18 til 22 tomer</h3>
                        <p>Dekkskift + balansering kr. 850/-</p>
                        <p>Dekk omlegging + balansering kr. 1150/-</p>
                        <p>Ved bytte av ventil kr. 25/- per stk.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal-4" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-heading">Lys</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                            <img src="/assets/services/4.jpg" alt="..." class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <p>Justering av hovedlys og tåkelys</p>
                        <p>Pris kr. 349/-</p>
                        <hr>
                        <p>Pæreskift:</p>
                        <ul>
                            <li>D1S kr. 2500/-</li>
                            <li>D2S kr. 1950/-</li>
                            <li>H7 kr. 299/-</li>
                            <li>H4 kr. 349/-</li>
                            <li>Parklys kr. 65/-</li>                  
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal-5" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-heading">Bremser</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                            <img src="/assets/services/6.jpg" alt="..." class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <p>Vi utfører bytte av:</p>
                        <ul>
                            <li>Bremseklosser</li>
                            <li>Bremseskiver</li>
                            <li>Bremserør</li>
                            <li>Bremsekalibere</li>
                            <li>Bremse bånd</li>
                            <li>Bremse trommel</li>
                            <li>Bremsepumper</li>
                            <li>Håndbrems ond  vaiere</li>                            
                        </ul>                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>
<script type="text/javascript">
    $('#detail-1').readmore({
        speed: 500,
        lessLink: '<a href="#" class="btn btn-default-sm-sm">Read Less</a>',    
        moreLink: '<a href="#" class="btn btn-default-sm-sm">Read More</a>',
        collapsedHeight: 100
    });

    $('#detail-2').readmore({
        speed: 500,
        lessLink: '<a href="#" class="btn btn-default-sm-sm">Read Less</a>',    
        moreLink: '<a href="#" class="btn btn-default-sm-sm">Read More</a>',
        collapsedHeight: 110
    });

    $('#detail-3').readmore({
        speed: 500,
        lessLink: '<a href="#" class="btn btn-default-sm-sm">Read Less</a>',    
        moreLink: '<a href="#" class="btn btn-default-sm-sm">Read More</a>',
        collapsedHeight: 100
    });

  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("myBtn").style.display = "block";
      } else {
          document.getElementById("myBtn").style.display = "none";
      }
  }
</script>
<style type="text/css">
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    } 

    #our-principles-details ul{
        text-align: left;
    }
</style>