<footer class="footer-bg">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-desctption">
                            <a href="/">
                                <img src="img/footer/widget-description/logo-footer.png" alt="..." class="logo img-responsive">
                            </a>
                            <p>
                                Donec id elit non mi porta gravida at eget metus. Donec id elit non
                            </p>
                            <p>
                                Vestibulum id ligula porta felis euism od semper. Nulla vitae elit libero
                            </p>
                            <hr>
                            <!-- <ul class="social-media-2 list-inline">
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                            </ul> -->
                        </div><!-- /.widget widget-description -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-md-4 col-sm-6">
                        <div class="widget widget-links">
                            <h4>Services</h4>
                            <ul>
                                <li><a href="#myModal" data-toggle="modal" >Engine testing - electric and mechanic</a></li>
                                <li><a href="#myModal-1" data-toggle="modal" >Schedule - oil air and other changes</a></li>
                                <li><a href="#myModal-2" data-toggle="modal" >Tires and wheels - balancing - economic</a></li>
                                <li><a href="#myModal-3" data-toggle="modal" >Air conditionning - heating and cooling</a></li>
                                <li><a href="#myModal-4" data-toggle="modal" >Carwash - with the double digit percent</a></li>
                                <li><a href="#myModal-5" data-toggle="modal" >Brakes and repair - on the make of car</a></li>
                                
                            </ul>
                        </div><!-- /.widget widget-links -->
                    </div><!-- /.col-sm-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-recent-projects">
                            <h4>Recent Projects</h4>
                            <div class="row custom-row">
                                <div class="col-sm-4 col-xs-2 pad-l-r-5">
                                    <div class="project-wrapper">
                                        <a href="#">
                                            <img src="img/footer/widget-recent-projects/1.jpg" alt="..." class="img-responsive">
                                        </a>
                                        <div class="box-preview box-preview-xs">
                                            <a href="#" class="zoom-wrapper">
                                                <i class="fa fa-search learn-more"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- /.col-sm-4 .col-xs-2 .pad-l-r-5 -->
                                <div class="col-sm-4 col-xs-2 pad-l-r-5">
                                    <div class="project-wrapper">
                                        <a href="#">
                                            <img src="img/footer/widget-recent-projects/2.jpg" alt="..." class="img-responsive">
                                        </a>
                                        <div class="box-preview box-preview-xs">
                                            <a href="#" class="zoom-wrapper">
                                                <i class="fa fa-search learn-more"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- /.col-sm-4 .col-xs-2 .pad-l-r-5 -->
                                <div class="col-sm-4 col-xs-2 pad-l-r-5">
                                    <div class="project-wrapper">
                                        <a href="#">
                                            <img src="img/footer/widget-recent-projects/3.jpg" alt="..." class="img-responsive">
                                        </a>
                                        <div class="box-preview box-preview-xs">
                                            <a href="#" class="zoom-wrapper">
                                                <i class="fa fa-search learn-more"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- /.col-sm-4 .col-xs-2 .pad-l-r-5 -->
                                <div class="col-sm-4 col-xs-2 pad-l-r-5">
                                    <div class="project-wrapper">
                                        <a href="#">
                                            <img src="img/footer/widget-recent-projects/4.jpg" alt="..." class="img-responsive">
                                        </a>
                                        <div class="box-preview box-preview-xs">
                                            <a href="#" class="zoom-wrapper">
                                                <i class="fa fa-search learn-more"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- /.col-sm-4 .col-xs-2 .pad-l-r-5 -->
                                <div class="col-sm-4 col-xs-2 pad-l-r-5">
                                    <div class="project-wrapper">
                                        <a href="#">
                                            <img src="img/footer/widget-recent-projects/5.jpg" alt="..." class="img-responsive">
                                        </a>
                                        <div class="box-preview box-preview-xs">
                                            <a href="#" class="zoom-wrapper">
                                                <i class="fa fa-search learn-more"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- /.col-sm-4 .col-xs-2 .pad-l-r-5 -->
                                <div class="col-sm-4 col-xs-2 pad-l-r-5">
                                    <div class="project-wrapper">
                                        <a href="#">
                                            <img src="img/footer/widget-recent-projects/6.jpg" alt="..." class="img-responsive">
                                        </a>
                                        <div class="box-preview box-preview-xs">
                                            <a href="#" class="zoom-wrapper">
                                                <i class="fa fa-search learn-more"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- /.col-sm-4 .col-xs-2 .pad-l-r-5 -->
                            </div><!-- /.row .custom-row -->
                        </div><!-- /.widget widget-recent-projects -->
                    </div><!-- /.col-sm-3-->
                    <div class="col-md-3 col-sm-6 hidden">
                        <div class="widget widget-get-in-touch">
                            <h4>Get in Touch</h4>
                            <p>
                                Please write your email and get our amazing updates, news and support. Proin gravida nibh vel velit auctor aliquet. 
                            </p>
                            <a href="#" class="widget-link">Get latest updates and offers.</a>
                            <form class="newsletter-form">
                                <div class="form-group">
                                  <input type="email" class="form-control" placeholder="Email Adress...">
                                </div>
                                <button type="submit" class="btn btn-empty btn-newsletter"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                            </form>
                        </div><!-- /.widget widget-get-in-touch -->
                    </div><!-- /.col-sm-3-->
                </div><!-- /.row -->
            </div><!-- /.footer-top -->
            <div class="footer-bottom-wrapper">
                <div class="footer-bottom">
                    <a href="#header" class="btn btn-top">
                        <i class="fa fa-angle-double-up"></i>
                    </a>
                    <p>
                        © 2018 <a href="/">DB-MEKK</a> — the best Care Car website. Developed and Designed by <a href="https://www.suavistech.com">suavistech</a>
                    </p>
                </div><!-- /.footer-bottom -->
            </div><!-- /.footer-bottom-wrapper -->
        </div><!-- /.container -->
    </footer>
    <!-- End Footer -->